<div id="<%= dom_id feedback %>">
  <p>
    <strong>Client:</strong>
    <%= feedback.client_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= feedback.content %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= feedback.rating %>
  </p>

</div>
