/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
     font-family: 'IcoFont';
     src: url('icofont.woff2') format('woff2'),
          url('icofont.woff') format('woff'),
          url('icofont.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
   }
   
    body{
      background-color: black;
    }
   .nav-link, .nav-item {
        
         
     text-align: center;
  }
  
  .nav-item:hover {
     background-color: #ced4da;
  }
  
  .logo img {
     width: 100%;
     
  }
  
  @media (max-width: 768px) {
     .logo img {
        max-width: 300px;
     }
  }
  
  @media (max-width: 576px) {
     .logo img {
        max-width: 150px;
     }
  }

  a {
color: white; /* Default link color */
text-decoration: none; /* Remove underline */
}

a:hover {
color: lightblue; /* Color on hover */
}

a:visited {
color: white; /* Keep the same color for visited links */
}

  .popup {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #fff;
     padding: 20px;
     display: none;
     z-index: 9999;
     border-radius: 10px;
     text-align: center;
 }
 .button-container {
     margin: 20px 0;
 }
 .popup-button {
     display: inline-block;
     margin: 10px;
     padding: 10px 15px;
     background-color: #007bff;
     color: white;
     text-decoration: none;
     border-radius: 5px;
 }
 .popup-button:hover {
     background-color: black;
 }
 .close-popup {
     background-color:black;
     color: white;
     padding: 10px;
     border: none;
     cursor: pointer;
     font-size: 16px;
     border-radius: 5px;
 }
 .overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 9998;
     display: none;
 }
